.posts {
  @extend .block;
  margin-bottom: 0;
  .posts__item {
    position: relative;
  }
  .posts__image {
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .posts__link {
    display: block;
    transition: border-bottom-color 0.3s;
    &:hover, &:active, &:focus {
      box-shadow: inset 0 0 0 rgba($color-salmon, 0.15);
      border-bottom-color: $color-salmon;
    }
    &:hover ~ .posts__image {
      opacity: 1;
    }
    &:hover ~ .posts__details,
    &:hover ~ .posts__details .posts__meta {
      color: $color-white;
    }
  }
  .posts__details {
    padding-top: 0.5em;
    margin-bottom: 2em;
    color: $color-light-grey;
    transition: color 0.3s;
    @media (min-width: $screen-sm-min) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
    @media (max-width: $screen-sm-min) {
      display: block;
    }
  }
  .posts__meta {
    transition: color 0.3s;
    color: $color-mid-grey;
    @media (min-width: $screen-sm-min) {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
    @media (max-width: $screen-sm-min) {
      display: block;
      padding-bottom: 0.5em;
    }
  }

  .posts__date,
  .posts__wordcount,
  .posts__categories {
    @media (min-width: $screen-sm-min) {
      margin-left: 2em;
    }
    @media (max-width: $screen-sm-min) {
      margin-right: 1em;
    }
  }
  .posts__categories {
    text-transform: capitalize;
  }
}

.post {
  @extend .block;
  .post__title {
    color: $color-white;
    background: $brand-primary;
    display: inline-block;
    padding: 2px 4px;
    margin-bottom: 0;
  }
  .post__date,
  .post__meta {
    color: $color-light-grey;
  }
  .post__content {
    h1, h2, h3, h4, h5, h6 {
      color: $brand-primary;
    }
    strong {
      background: darken($color-off-white, 5%);
    }
    .footnotes {
      color: $color-light-grey;
      ol {
        @include type(10);
        padding-left: 0;
        list-style-position: inside;
      }
      p {
        font-size: 1em;
      }
    }
  }
  .post__categories {
    @include type(10);
    color: $color-light-grey;
    strong {
      background: darken($color-off-white, 5%);
    }
  }
}