.site-footer {
  @extend .block;
  .site-footer__logo {
    display: inline;
    color: $brand-primary;
  }
  .site-footer__symbol {
    &:before {
      @extend .symbol;
      content: attr(symbol);
      font-size: 1.5em;
    }
  }
  .site-footer__nav {
    @media (max-width: $screen-sm-max) {
      padding-top: 1em;
    }
    ul {
      margin-bottom: 0;
    }
  }
  p {
    color: $color-light-grey;
  }
}