.site-header {
  @extend .block;
  .site-header__logo {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 0;
    }
    color: $color-white;
    background: $brand-primary;
    display: inline-block;
    padding: 0.5rem 1rem;
    a {
      color: #fff;
      margin-bottom: 0;
    }
  }
  .site-header__link {
    @include type(12);
  }
}
