<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  
  <body>

    {% if page.banner %}<img class="image-full" src="{{ site.baseurl }}/assets/images/{{ page.banner }}" />{% endif %}

    <div class="flex-content">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            {% include header.html %}
          </div>
          <div class="col-md-9">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    <div class="flex-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-push-3 col-md-9">
            {% include footer.html %}
          </div>
        </div>
      </div>
    </div>
  </body>

</html>