<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  
  <body>

    {% if page.banner %}<img class="image-full" src="{{ site.baseurl }}/assets/images/{{ page.banner }}" />{% endif %}

    <div class="flex-content">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            {% include header.html %}
          </div>
          <div class="col-md-9">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    <div class="flex-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-push-3 col-md-9">
            {% include footer.html %}
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-21848111-8', 'auto');
    ga('send', 'pageview');

  </script>

</html>