---
layout: default
---

{% if page.hero %}<img class="image-full" src="{{ site.baseurl }}/assets/images/{{ page.hero }}" />{% endif %}

<div class="post">
  <hgroup>
    <h1 class="post__title">{{ page.title }}</h1>
    {% if page.date %}<date class="post__date">{{ page.date | date: "%B %-d, %Y" }}</date>{% endif %}
  </hgroup>
  {% if page.meta %}<h2 class="post__meta">{{ page.meta }}</h2>{% endif %}
  <div class="post__content">
    {{ content }}
  </div>

  {% if page.categories %}<p class="post__categories">Filed under {{ page.categories | array_to_sentence_string }}</p>{% endif %}
</div>